body {
    width: 20em;
}

li {
    display: inline-block;
    width: 20%;
    height: 20%;
}

button {
height: 100%;
width: 100%;

}

#egal {
    width: 100%;
    height: 100%;
}

#affichage {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid black;
}

#exinput {
    width: 85%;
    height: 10%;
    margin-bottom: 1em;
}

#liegal {
    width: 40%;
}
